
@{
    ViewData["Title"] = "Contacts";
}

<head>
    <link rel="stylesheet" href="~/css/contacts.css" asp-append-version="true" />
</head>

<div class="main-div">
    <div class="contacts-div">
        <h3> Contacts</h3>
        <table id="contacts-table">
            <thead class="table_header">
                <tr>
                    <th id="contacts-table-th1" class="contacts-table-th" scope="col">#</th>
                    <th id="contacts-table-th2" class="contacts-table-th" scope="col">Prénom</th>
                    <th id="contacts-table-th3" class="contacts-table-th" scope="col">Nom</th>
                    <th id="contacts-table-th4" class="contacts-table-th" scope="col">Tel.</th>
                    <th id="contacts-table-th5" class="contacts-table-th" scope="col">GSM</th>
                    <th id="contacts-table-th6" class="contacts-table-th" scope="col">Mail</th>
                    <th id="contacts-table-th7" class="contacts-table-th" scope="col">Adresse</th>
                    <th id="contacts-table-th8" class="contacts-table-th" scope="col">Code Postal</th>
                    <th id="contacts-table-th9" class="contacts-table-th" scope="col">Localité</th>
                    <th id="contacts-table-th10" class="contacts-table-th" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Louis</td>
                    <td>Boeckmans</td>
                    <td>+3236 /72.48.10</td>
                    <td>+32495/72.48.10</td>
                    <td>louis.boeckmans@outlook.com</td>
                    <td>Quai de Gaulle 17/051</td>
                    <td>4020</td>
                    <td>Liege</td>
                    <td>
                        <div class="contacts-table-buttons-td-div">
                            <button class="modify-button">
                                <img class="modify-logo" src="~/images/modify-icon.svg" alt="Modifier"/>
                            </button>
                            <button class="delete-button">
                                <img class="delete-logo" src="~/images/delete-icon.svg" alt="Supprimer" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="right-button-div-contact" class="right-button-div">
            <button class="add-button" onclick="openContactForm()">
                <img class="add-logo" src="~/images/add-icon.svg" alt="Ajouter"/>
                Ajouter
            </button>
        </div>
    </div>
    <div class="organisations-div">
        <h3> Organisations et entreprises</h3>
        <table id="organisation-table">
            <thead class="table_header">
                <tr>
                    <th id="organisation-table-th1" class="organisation-table-th" scope="col">#</th>
                    <th id="organisation-table-th2" class="organisation-table-th" scope="col">Nom</th>
                    <th id="organisation-table-th3" class="organisation-table-th" scope="col">Adresse</th>
                    <th id="organisation-table-th4" class="organisation-table-th" scope="col">Code Postal</th>
                    <th id="organisation-table-th5" class="organisation-table-th" scope="col">Localite</th>
                    <th id="organisation-table-th6" class="organisation-table-th" scope="col">N° TVA</th>
                    <th id="organisation-table-th7" class="organisation-table-th" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>General Construction</td>
                    <td>Rue de la Station 44</td>
                    <td>4032</td>
                    <td>Chênée</td>
                    <td>BE 0425.548.797</td>
                    <td>
                        <div class="organisations-table-buttons-td-div">
                            <button class="modify-button">
                                <img class="modify-logo" src="~/images/modify-icon.svg" alt="Modifier" />
                            </button>
                            <button class="delete-button">
                                <img class="delete-logo" src="~/images/delete-icon.svg" alt="Modifier" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="right-button-div-organisation" class="right-button-div">
            <button class="add-button">
                <img class="add-logo" src="~/images/add-icon.svg" alt="Ajouter" />
                Ajouter
            </button>
        </div>
    </div>
    <div id="contact-form-div">
        <div id="contact-form-title-div">
            <h3>Ajouter contact</h3>
        </div>
        <div id="contact-form-top-div">
            <div class="contact-form-field-div">
                <label class="contact-form-label">Prénom :</label>
                <input class="contact-form-inputs" type="text" name="prenom" placeholder="Prenom">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Nom :</label>
                <input class="contact-form-inputs" type="text" name="nom" placeholder="Nom">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Téléphone :</label>
                <input class="contact-form-inputs" type="tel" name="numero-telephone" placeholder="000/00.00.00">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">GSM :</label>
                <input class="contact-form-inputs" type="tel" name="numero-gsm" placeholder="0000/00.00.00">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Mail :</label>
                <input class="contact-form-inputs" type="email" name="mail" placeholder="adresse@outlook.com">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Rue :</label>
                <input class="contact-form-inputs" type="text" name="rue" placeholder="Rue">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">n° :</label>
                <input class="contact-form-inputs" type="number" name="number" placeholder="00">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Boite :</label>
                <input class="contact-form-inputs" type="number" name="boite" placeholder="000">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Code Postal :</label>
                <input class="contact-form-inputs" type="number" name="code-postal" placeholder="0000">
            </div>
            <div class="contact-form-field-div">
                <label class="contact-form-label">Localité :</label>
                <input class="contact-form-inputs" type="text" name="localite" placeholder="Localité">
            </div>
        </div>
        <div id="contact-form-bottom-div">
            <button class="add-button-form">
                <img class="add-logo-form" src="~/images/add-icon.svg" alt="Ajouter" />
                Ajouter
            </button>
            <button class="check-button-form">
                <img class="check-logo-form" src="~/images/check-icon.svg" alt="Confirmer" />
                Confirmer
            </button>
            <button class="close-button-form" onclick="closeContactForm()">
                <img class="close-logo-form" src="~/images/close-icon.svg" alt="Annuler" />
                Annuler
            </button>
        </div> 
    </div>
    <div class="overlay" id="overlayContact"></div>
    
</div>

