
@{
    ViewData["Title"] = "Contacts";
}

<head>
    <link rel="stylesheet" href="~/css/contacts.css"/>
</head>

<div class="main-div">
    <div class="contacts-div">
        <h3> Contacts</h3>
        <table id="contacts-table">
            <thead class="table_header">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Tel.</th>
                    <th scope="col">GSM</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Localité</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Louis</td>
                    <td>Boeckmans</td>
                    <td>-</td>
                    <td>0495/72.48.10</td>
                    <td>louis.boeckmans@outlook.com</td>
                    <td>Quai de Gaulle 17/051</td>
                    <td>4020</td>
                    <td>Liege</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="organisations-div">
        <h3> Organisations et entreprises</h3>
        <table id="organisation-table">
            <thead class="table_header">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Adresse</th>
                    <th scope="col">Code Postal</th>
                    <th scope="col">Localite</th>
                    <th scope="col">N° TVA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>General Construction</td>
                    <td>Rue de la Station 44</td>
                    <td>4032</td>
                    <td>Chênée</td>
                    <td>N° TVA</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>

