/*root{
    --taillecol1: 10rem;
    --taillecol2 20rem;
}*/
h3
{
    font-size: 16px;
}

.main-div
{
    border: 1px solid grey;
}

.contacts-div
{
    border: 1px solid grey;
    padding: 15px;/*
    display: flex;
    flex-direction: column;*/
}

.organisations-div 
{
    border: 1px solid grey;
    padding: 15px;/*
    display: flex;
    flex-direction: column;*/
   
}

/** CONTACTS **/

 
{
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 10px;
    
}

#contacts-table {
    /* Change these properties */
    --border: 1px solid grey;
    border-radius: 5px;
    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
    font-size: 10px;
}

/* Apply a border to the right of all but the last column */
#contacts-table th:not(:last-child),
#contacts-table td:not(:last-child) 
{
    border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
#contacts-table > thead > tr:not(:last-child) > th,
#contacts-table > thead > tr:not(:last-child) > td,
#contacts-table > tbody > tr:not(:last-child) > th,
#contacts-table > tbody > tr:not(:last-child) > td,
#contacts-table > tfoot > tr:not(:last-child) > th,
#contacts-table > tfoot > tr:not(:last-child) > td,
#contacts-table > tr:not(:last-child) > td,
#contacts-table > tr:not(:last-child) > th,
#contacts-table > thead:not(:last-child),
#contacts-table > tbody:not(:last-child),
#contacts-table > tfoot:not(:last-child) {
    border-bottom: var(--border);
}

td {
    height: 20px;
}

th 
{
    color: white;
    background-color: #044881;
}

.contacts-table-th 
{
    /*border: 1px solid grey;*/
    height: 20px;
}

#contacts-table-th1 
{ 
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

#contacts-table-th2 {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

#contacts-table-th3 {
    width: 80px;
    min-width: 80px;
    max-width: 80px;
}

#contacts-table-th4 {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

#contacts-table-th5 {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}

#contacts-table-th6 {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

#contacts-table-th7 {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

#contacts-table-th8 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#contacts-table-th9 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#contacts-table-th10 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

/** ORGANISATION **/
#organisation-table 
{
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 10px;
    font-size: 10px;
}

#organisation-table {
    /* Change these properties */
    --border: 1px solid grey;
    border-radius: 5px;
    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
    font-size: 10px;
}

/* Apply a border to the right of all but the last column */
#organisation-table th:not(:last-child),
#organisation-table td:not(:last-child) 
{
    border-right: var(--border);
}

/* Apply a border to the bottom of all but the last row */
#organisation-table > thead > tr:not(:last-child) > th,
#organisation-table > thead > tr:not(:last-child) > td,
#organisation-table > tbody > tr:not(:last-child) > th,
#organisation-table > tbody > tr:not(:last-child) > td,
#organisation-table > tfoot > tr:not(:last-child) > th,
#organisation-table > tfoot > tr:not(:last-child) > td,
#organisation-table > tr:not(:last-child) > td,
#organisation-table > tr:not(:last-child) > th,
#organisation-table > thead:not(:last-child),
#organisation-table > tbody:not(:last-child),
#organisation-table > tfoot:not(:last-child) 
{
    border-bottom: var(--border);
}

.organisation-table-th 
{
    height: 20px;
}

#organisation-table-th1 
{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
}

#organisation-table-th2 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

#organisation-table-th3 {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

#organisation-table-th4 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#organisation-table-th5 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
}

#organisation-table-th6 {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

#organisation-table-th7 {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    
}

/** BUTTONS **/
.contacts-table-buttons-td-div 
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.organisations-table-buttons-td-div 
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.modify-button 
{
    background: yellow;
    cursor: pointer;
    padding: 0px;
    border-radius: 3px 3px 3px 3px;
    border: 0.5px solid grey;
}

.delete-button 
{
    background: red;
    cursor: pointer;
    padding: 0px;
    border-radius: 3px 3px 3px 3px;
    border: 0.5px solid grey;
}

.modify-logo
{
    fill: white;
    padding: 0px;
}

.delete-logo 
{
    fill: white;
    padding: 0px;
}

.right-button-div 
{
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    font-size: 12px;
    background-color: lightblue;
}

#right-button-div-organisation 
{
    /*border: 1px solid grey;*/

}

#right-button-div-contact
{
    /*border: 1px solid grey;*/
}

.add-button {
    background: green;
    cursor: pointer;
    padding: 0px;
    border-radius: 3px 3px 3px 3px;
    border: 0.5px solid grey;
    color: white;
    padding-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.add-logo 
{
    fill: white;
    padding: 0px;
    width: 15px;
    margin-right: 5px;
}

/** FORMULAIRE CONTACT **/
#contact-form-div {
    border: 1px solid grey;
    border-radius: 10px;
    width: 600px;
    max-width: 600px;
    font-size: 12px; /*
    display: none;*/
}

#contact-form-top-div
{
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
}

#contact-form-left-div {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 50%;
}

#contact-form-right-div {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    width: 50%;
}

#contact-form-bottom-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    justify-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

.contact-form-label
{
    text-align: right;
    padding-right: 10px;
    height: 30px;
}

.contact-form-inputs 
{
    padding-left: 10px;
    height: 30px;
}